<div class="row">
    <div class="col-sm-6">
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-user fa-stack-1x"></i>
                    <i class="fa fa-square-o fa-stack-2x "></i>
                </span>
                {{"Credential" | translate}} {{"View" | translate}}
            </div>
            <div class="panel-body">
                <form class="form-horizontal has-success" role="form">
                    <div class="input-group">
                        <span class="input-group-addon ">{{"Id" | translate}}: </span>
                        <input type="text" class="form-control"value="{{ctrl.data.id}}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">{{"Username" | translate}}:</span>
                        <input type="text" class="form-control"value="{{ctrl.data.username}}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">{{"Password" | translate}}:</span>
                        <input type="text" class="form-control"value="{{ctrl.data.password}}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">{{"Valid From"| translate}}:</span>
                        <input type="text" class="form-control"value="{{ctrl.data.validFrom | date: 'mediumDate'}}"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">{{"Valid To"| translate}}:</span>
                        <input type="text" class="form-control"value="{{ctrl.data.validTo | date: 'mediumDate'}}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
