<a class="cursor-pointer pull-right" ng-click="languageCtrl.changeLang('zh_CN')">
    <span class="flag-icon flag-icon-cn"></span>
</a>
<a class="cursor-pointer pull-right" ng-click="languageCtrl.changeLang('sv_SE')">
    <span class="flag-icon flag-icon-se"></span>
</a>
<a class="cursor-pointer pull-right" ng-click="languageCtrl.changeLang('es_MX')">
    <span class="flag-icon flag-icon-mx"></span>
</a>
<a class="cursor-pointer pull-right" ng-click="languageCtrl.changeLang('en_US')">
    <span class="flag-icon flag-icon-us"></span>
</a>

